* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    
   
}

header{
    position: fixed;
    z-index: 2;
    display: inline-flex;
    height: 60px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #6D435A;
    color: #fffcf9;
}



h1{
    padding-left: 1rem;
}

h2 {
    background-color: #069e2d;
    padding: 0.5rem;
}

p {
    margin: 0.5rem;
    line-height: 1.2;
}

h1 {
    font-family: "Kanit", Arial, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 50px;
    text-transform: uppercase;
  }


  h2 {
    font-family: "Kanit", Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    background-color: #6D435A;
  }

  h3,
  nav {
    font-family: "Kanit", Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  h4 {
    font-family: "Kanit", Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  h5 {
    font-family: "Kanit", Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  h6 {
    font-family: "Kanit", Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  p {
    font-family: "Salsa", cursive;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
}


  
  
  
  em {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  
  
  .kanit-semibold-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  
  
  .kanit-extrabold-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: italic;
  }

p a {
    font-family: "Salsa", cursive;

    color: blue;
    text-decoration: underline;
}



.material-symbols-outlined {
  font-variation-settings:
  'FILL' 5,
  'wght' 600,
  'GRAD' 5,
  'opsz' 48
}



nav{
    display: inline-flex;
    color:lightgrey;
}

nav ul{
    display: inline-flex;
    list-style: "";
        
}

nav li {
    margin: 1rem;
    
}

nav a{
    color: #fffcf9;
}

main {
    position: relative;
    top: 60px;
    display: flex;
    width: 100%;
    background-color: #534d41;
    color:beige;
    padding: 1rem 0;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    
}

main a {
    color: beige;
}

main a:hover{
    color:#b1ede8;
    text-decoration: underline;
    
}

#rightSide {
    display: inline-flex;
    flex-direction: column;
    min-width: 300px;

    justify-content: space-between;
    align-content: space-between;
}

#aboutMeTitle {
    display: flex;
    overflow: hidden;
    position: static;
}

#aboutMe {
    
    min-width: 200px;
    max-width: 600px;
    max-height: 700px;
   
    border: solid 1px white;
  
    
}

#aboutMe h2{
    
    min-width: 200px;
    
    flex-grow: 1;
}

#aboutMe h3 {
    padding: 0 1rem;
}

#aboutMe img {
    width: 150px;
    height: auto;
    float: right;
    margin: 1rem;
}



#projects {
    align-items: end;
    min-width: fit-content;
    max-width: 600px;
    max-height: 450px;
    
    border: solid 1px white;
}


.project {
    display: flex;
    flex-direction: row;
    background-color: rgb(47, 47, 127);
    height: 300px;
    padding: 1rem;
    border: solid 3px white;
    text-align: center;
    justify-content: center;
    align-items: end;
    text-align: center;
    font-size: 1.2rem;
}

.projectText {
    max-width: 350px;
    height: fit-content;
    align-items: center;
    margin: 1rem 0;
}

.projectNav {
    display: flex;
    background-color: #2e2661dd;
    align-items: center;
    justify-items: center;
    
}

#projects p {
    font-size: 1rem;
}

#last1,
#last2,
#last3,
#last4,
#next1,
#next2,
#next3,
#next4 {
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 25px;
    margin: 1rem;
    
    
    align-items: center;
    justify-content: space-around;
    
    border: 0.1rem solid white ;
}



#styleGuide {
    display: flex;
    background-image: url("./resources/images/StyleGuide.png");
    background-size: cover;
}

#spaceMission {
    display: none;
    background-image: url("./resources/images/SpaceMission.png");
    background-size: cover;
}

#ticTacToe {
    display: none;
    background-image: url("./resources/images/TicTacToe.png");
    background-size: cover;
}

#VitaFruit {
    display: none;
    background-image: url("./resources/images/Vitafruit_billboard.png");
    background-size: cover;
}

#skills {
    margin-top: 3rem;
    min-width: 200px;
    max-width: 600px;
    max-height: 250px;
    
    border: solid 1px white;
    
}

#skills ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    padding: 1rem;
    list-style: none;
    
}

#skills li {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}



footer {
    position: relative;
    top: 60px;
    font-size: 0.25rem;
}

footer h2 {
    font-size: 1rem;
}

#contactPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 2rem;
}

#contactInfo {
    text-align: center;
    
    line-height: 2rem;
    padding: 1rem;
}

#contactInfo ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}


.contactLink {
    
    padding: 1rem;

}



.devicon-cplusplus-plain,
.devicon-html5-plain,
.devicon-css3-plain,
.devicon-javascript-plain,
.devicon-linkedin-plain,
.devicon-github-original,
.devicon-git-plain,
.devicon-github-plain,
.devicon-mocha-plain
 {
    font-size: 3rem;
}



@media only screen and (max-width: 800px)  {
    main {
        display: block;
        align-items: center;
        justify-items: center;
        


    }
    h1 {
        font-size: 1.2rem;
    }
    #aboutMe {
        display: inline;
        align-items: center;
        justify-content: center;
        min-width: none;
        max-width: 500px;
        text-wrap: wrap;
        text-align: center;
        border: none;
    
        
    }

    #aboutMe p {
        text-align: left;

    }

    #rightSide {
       display: inline;
       justify-content: center;
       padding: 2rem;
    }
    
    #projects {
        display: inline;
        padding: 2rem;
        margin: 2rem;
        text-align: center;
        border: none;
    }

    #skills {
        display: inline;
        text-align: center;
        border: none;
    }
}